header{
  text-align:center;
  padding:30px 20px;
  background: linear-gradient(135deg, var(--verde-nutrik), var(--verde-oscuro));
  color:white;
}

nav{
  display:flex;
  justify-content:center;
  gap:15px;
  padding:15px;
  background:white;
  box-shadow:0 2px 8px rgba(0,0,0,0.1);
}

nav button{
  padding:10px 20px;
  border:none;
  border-radius:8px;
  background: var(--verde-nutrik);
  color:white;
  cursor:pointer;
  font-weight:bold;
  transition:0.3s;
}

nav button:hover{
  background: var(--verde-oscuro);
  transform:scale(1.05);
}

.contenedor{
  display:flex;
  flex-direction:column;
  align-items:center;
  padding:30px 20px;
}

.titulo{
  font-size:26px;
  margin-bottom:20px;
  text-align:center;
  color: var(--verde-oscuro);
}

.productos{
  display:flex;
  flex-wrap:wrap;
  justify-content:center;
  gap:25px;
  max-width:1000px;
}

.producto{
  background:white;
  width:220px;
  padding:15px;
  border-radius:15px;
  text-align:center;
  box-shadow:0 6px 15px rgba(0,0,0,0.1);
  transition:0.3s;
}

.producto:hover{
  transform:translateY(-5px);
}

.producto img{
  width:120px;
  height:120px;
  object-fit:cover;
  border-radius:12px;
  margin-bottom:10px;
}

.producto h3{
  margin:8px 0;
  color: var(--verde-oscuro);
}

.producto p{
  color:#555;
  margin-bottom:10px;
}
.botones-produc{
  width: 100%;
  background: #8cff00;
  border: none;
  padding: 12px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

footer{
  margin-top:40px;
  text-align:center;
  padding:15px;
  background:#1f2937;
  color:white;
}