/* Definición de variables globales */
:root {
  --fondo-crema: #F1F5E8;
  --verde-nutrik: #91C13E;
  --verde-oscuro: #1B300B;
  --verde-medio: #6C8E64;
  --acento-calido: #B8B3A1;

  /* Tipografía */
  --fuente-principal: 'Inter', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  width: 100%;
  height: 100%;
}

body {
  background-color: var(--fondo-crema);
  font-family: var(--fuente-principal);
  color: var(--verde-oscuro);
  line-height: 1.6;
}

/* Asegurar que todos los elementos heredan la fuente */
button, input, select, textarea {
  font-family: var(--fuente-principal);
}

button:hover {
  background-color: var(--verde-oscuro);
  font-family: var(--fuente-principal);
  color: var(--verde-oscuro);
  line-height: 1.6;
}

/* Asegurar que todos los elementos heredan la fuente */
button, input, select, textarea {
  font-family: var(--fuente-principal);
}
